// Copyright 2021 Confluent Inc. All Rights Reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

/*
Endpoint API

Endpoint API

API version: 0.0.1-alpha1
Contact: cire-traffic@confluent.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
)

// Linger please
var (
	_ _context.Context
)

type EndpointsEndpointV1Api interface {

	/*
		ListEndpointV1Endpoints List of Endpoints

		[![General Availability](https://img.shields.io/badge/Lifecycle%20Stage-General%20Availability-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

	Retrieve a sorted, filtered, paginated list of all endpoints.

		 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		 @return ApiListEndpointV1EndpointsRequest
	*/
	ListEndpointV1Endpoints(ctx _context.Context) ApiListEndpointV1EndpointsRequest

	// ListEndpointV1EndpointsExecute executes the request
	//  @return EndpointV1EndpointList
	ListEndpointV1EndpointsExecute(r ApiListEndpointV1EndpointsRequest) (EndpointV1EndpointList, *_nethttp.Response, error)
}

// EndpointsEndpointV1ApiService EndpointsEndpointV1Api service
type EndpointsEndpointV1ApiService service

type ApiListEndpointV1EndpointsRequest struct {
	ctx         _context.Context
	ApiService  EndpointsEndpointV1Api
	service     *string
	environment *string
	cloud       *string
	region      *string
	isPrivate   *bool
	resource    *string
	pageSize    *int32
	pageToken   *string
}

// Filter the results by exact match for service.
func (r ApiListEndpointV1EndpointsRequest) Service(service string) ApiListEndpointV1EndpointsRequest {
	r.service = &service
	return r
}

// Filter the results by exact match for environment.
func (r ApiListEndpointV1EndpointsRequest) Environment(environment string) ApiListEndpointV1EndpointsRequest {
	r.environment = &environment
	return r
}

// Filter the results by exact match for cloud.
func (r ApiListEndpointV1EndpointsRequest) Cloud(cloud string) ApiListEndpointV1EndpointsRequest {
	r.cloud = &cloud
	return r
}

// Filter the results by exact match for region.
func (r ApiListEndpointV1EndpointsRequest) Region(region string) ApiListEndpointV1EndpointsRequest {
	r.region = &region
	return r
}

// Filter the results by whether the endpoint is private (true) or public (false). If not specified, returns both private and public endpoints.
func (r ApiListEndpointV1EndpointsRequest) IsPrivate(isPrivate bool) ApiListEndpointV1EndpointsRequest {
	r.isPrivate = &isPrivate
	return r
}

// Filter the results by exact match for resource.
func (r ApiListEndpointV1EndpointsRequest) Resource(resource string) ApiListEndpointV1EndpointsRequest {
	r.resource = &resource
	return r
}

// A pagination size for collection requests.
func (r ApiListEndpointV1EndpointsRequest) PageSize(pageSize int32) ApiListEndpointV1EndpointsRequest {
	r.pageSize = &pageSize
	return r
}

// An opaque pagination token for collection requests.
func (r ApiListEndpointV1EndpointsRequest) PageToken(pageToken string) ApiListEndpointV1EndpointsRequest {
	r.pageToken = &pageToken
	return r
}

func (r ApiListEndpointV1EndpointsRequest) Execute() (EndpointV1EndpointList, *_nethttp.Response, error) {
	return r.ApiService.ListEndpointV1EndpointsExecute(r)
}

/*
ListEndpointV1Endpoints List of Endpoints

[![General Availability](https://img.shields.io/badge/Lifecycle%20Stage-General%20Availability-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

Retrieve a sorted, filtered, paginated list of all endpoints.

	@param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListEndpointV1EndpointsRequest
*/
func (a *EndpointsEndpointV1ApiService) ListEndpointV1Endpoints(ctx _context.Context) ApiListEndpointV1EndpointsRequest {
	return ApiListEndpointV1EndpointsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EndpointV1EndpointList
func (a *EndpointsEndpointV1ApiService) ListEndpointV1EndpointsExecute(r ApiListEndpointV1EndpointsRequest) (EndpointV1EndpointList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  EndpointV1EndpointList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EndpointsEndpointV1ApiService.ListEndpointV1Endpoints")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/endpoint/v1/endpoints"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.service == nil {
		return localVarReturnValue, nil, reportError("service is required and must be specified")
	}
	if r.environment == nil {
		return localVarReturnValue, nil, reportError("environment is required and must be specified")
	}

	if r.cloud != nil {
		localVarQueryParams.Add("cloud", parameterToString(*r.cloud, ""))
	}
	if r.region != nil {
		localVarQueryParams.Add("region", parameterToString(*r.region, ""))
	}
	localVarQueryParams.Add("service", parameterToString(*r.service, ""))
	if r.isPrivate != nil {
		localVarQueryParams.Add("is_private", parameterToString(*r.isPrivate, ""))
	}
	localVarQueryParams.Add("environment", parameterToString(*r.environment, ""))
	if r.resource != nil {
		localVarQueryParams.Add("resource", parameterToString(*r.resource, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("page_size", parameterToString(*r.pageSize, ""))
	}
	if r.pageToken != nil {
		localVarQueryParams.Add("page_token", parameterToString(*r.pageToken, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
